<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-4">
    <input
      type="text"
      placeholder="Search..."
      class="border p-2 w-full md:w-1/3"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
    <div class="flex items-center ml-4">
      <label for="perPage" class="mr-2">Items per page:</label>
      <select
        id="perPage"
        class="border p-2"
        [(ngModel)]="perPage"
        (ngModelChange)="onPerPageChange($event)"
      >
        <option
          *ngFor="let pageNo of PER_PAGE"
          [ngValue]="pageNo"
          [value]="pageNo"
        >
          {{ pageNo }}
        </option>
      </select>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th *ngFor="let column of DISPLAYED_COLUMNS" class="py-2">
            {{ column.replaceAll('_', ' ') | titlecase }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let crypto of cryptocurrencies$ | async; trackBy: trackByFn"
          class="border-b"
        >
          <td *ngIf="'id' | columnRow" class="px-4 py-2">{{ crypto.id }}</td>
          <td *ngIf="'name' | columnRow" class="px-4 py-2">
            {{ crypto.name }}
          </td>
          <td *ngIf="'symbol' | columnRow" class="px-4 py-2">
            {{ crypto.symbol }}
          </td>
          <td *ngIf="'current_price' | columnRow" class="px-4 py-2">
            {{ crypto.current_price | currency }}
          </td>
          <td *ngIf="'market_cap' | columnRow" class="px-4 py-2">
            {{ crypto.market_cap | number }}
          </td>
          <td *ngIf="'total_volume' | columnRow" class="px-4 py-2">
            {{ crypto.total_volume | number }}
          </td>
          <td *ngIf="'high_24h' | columnRow" class="px-4 py-2">
            {{ crypto.high_24h | currency }}
          </td>
          <td *ngIf="'low_24h' | columnRow" class="px-4 py-2">
            {{ crypto.low_24h | currency }}
          </td>
          <td
            *ngIf="'price_change_percentage_24h' | columnRow"
            class="px-4 py-2"
          >
            {{ crypto.price_change_percentage_24h | percent }}
          </td>
          <td *ngIf="'circulating_supply' | columnRow" class="px-4 py-2">
            {{ crypto.circulating_supply | number }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex justify-between items-center mt-4">
    <div>
      <button
        class="border p-2 mr-2"
        [disabled]="currentPage === '1'"
        (click)="relativeChange(-1)"
      >
        Previous
      </button>
      <button class="border p-2" (click)="relativeChange(1)">Next</button>
    </div>
  </div>
</div>
<div [chart]="chart"></div>
